# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
.venv/
venv/
env/

# Tests & couverture
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
